<%= stylesheet_link_tag 'users', media: 'all' %>
<div class="user-page">
  <h1><%= t('user.heading_list') %></h1>
  <div class="user-count"><%= t('user.count', count:@count) %></div>
  <div class="select-options">
    <label for="sort-field"><%= t('user.label_sort') %></label>
    <select id="sort-field" name="sort" onchange="window.location.href=this.value">
      <option value="<%= users_path(sort: 'name')%>" <%='selected' if @sort_field == 'name' %>><%= t('user.label_sort_item_name')%></option>
      <option value="<%= users_path(sort: 'age')%>" <%='selected' if @sort_field == 'age'%>><%= t('user.label_sort_item_age')%></option>
      <option value="<%= users_path(sort: 'updated_at')%>" <%='selected' if @sort_field == 'updated_at'%>><%= t('user.label_sort_item_updated_at')%></option>
    </select>
  </div>
  <div class="user-list">
    <% @users.each do |user| %>
    <div class="user-card">
      <div class="user-card__name"><%= user.name %></div>
      <div class="user-card__age">
        <strong><%= t('user.label_age') %></strong><%= user.age %>
      </div>
      <div class="user-card__updated_at">
        <strong><%= t('user.label_updated_at') %></strong><%= format_updated_at(user) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
